{% extends "shop/layout.html" %}
{% load humanize %}   

{% block content %}
    <h2>{{ item.name }}</h2>

    {% if item.photo %} <!--사진이 없으면 그냥 원래 화면 잘 나오게 하기-->
        <img src="{{ item.photo.url }}" style="max-width: 50%;"/><br/>
    {% endif %}

    가격: {{ item.price|intcomma }}원

    {% if item.desc %}
        <p>
            {{ item.desc }}
        </p>
    {% endif %}

    <hr/>
    <a href="{% url "shop:item_list" %}">목록</a>
    <a href="{% url "shop:item_edit" item.pk %}">수정</a>
    {% endblock %}

        
