*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.blind{
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

#header {
    margin: 0 auto;
    width: 1580px;
    height: 55px;
    padding: 8px;
}

#header-info {
    width: 530px;
    height: 55px;
}

#header-info span {
    width: 110px;
    height: 23px;
    padding: 10px 0;
}

#header-info {
    float: left;
}

#header-sign {
    float: right;
    width: 470px;
}

#header-sign button {
    margin-top: 10px;
    float: right;
}

#header-sign fieldset {
    width: 240px;
    height: 35px;
    display: inline-block
}

#header-sign fieldset input{
    border: none;
    display: inline-block
}

#header-sign button {
    margin-right: 32px;
    padding: 4px 8px 4px 8px;
    border: 1px solid var;
    border-radius: 6px;
    background-color: transparent;
}

main {
    width: 1250px;
    height: 520px;
    margin-left: 150px;
    margin-right: 150px;
    padding: 0 50px 80px;
}

#main-introduce {
    display: inline-block;
    width: 400px;
    margin: 0;
    vertical-align: top;

}

#main-sign {
    float: right;
    width: 400px;
    margin: 0;
    vertical-align: top;
}

#HowMuch > h4 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 30px;
}

#Who > h6 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 20px;
}