{% extends 'layout.html' %}
{% load static %}

{% block title %}My SW Idea Management{% endblock %}

{% block content %}
    <h1>Idea Register</h1>
    <h4>아이디어 등록 페이지입니다. 당신의 아이디어를 잊지 말고 기록하세요!</h4>
    <div class="container">
        <div class="col-sm-12">
            <form action="" method="post" enctype="multipart/form-data" autocomplete="off">
                {% csrf_token %}

                <table class="table table-bordered">
                    {{ form.as_table }}
                </table>
                
                <input type="submit" value="submit" class="btn btn-primary" />
            </form>
        </div>
    </div>
{% endblock %}