*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

div#header {
    margin: 0 auto;
    width: 1080px;
}

div#header h3 {
    margin: 0;
    padding: 8px 0 8px 0;
    width: 1260px;
    height: 72px;
}

div#header h6 {
    display: none;
}

div#header fieldset {
    display: inline-block
}

div#header button {
    margin-right: 32px;
    padding: 4px 8px 4px 8px;
    border: 1px solid var;
    border-radius: 6px;
    background-color: transparent;
}

div#header > h3 button:first-child {
    border: none !important;
}

#HowMuch > h4 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 30px;
}

#Who > h6 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 20px;
}