div#header {
    margin: 0 auto;
    width: 1080px;
}

div#header h6 {
    display: none;
}

div#header fieldset {
    display: inline-block
}

#HowMuch > h4 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 30px;
}

#Who > h6 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 20px;
}