*{
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}


#header {
    margin: 0 auto;
    width: 1080px;
}

#header h3 {
    margin: 0;
    padding: 8px 0 8px 0;
    width: 1260px;
    height: 72px;
}

#header h6 {
    display: none;
}

#header fieldset {
    display: inline-block
}

#header button {
    margin-right: 32px;
    padding: 4px 8px 4px 8px;
    border: 1px solid var;
    border-radius: 6px;
    background-color: transparent;
}

#header > h3 button:first-child {
    border: none !important;
}

main {
    margin-left: 250px;
    margin-right: 250px;
    padding: 50px 50px;
}


#main-introduce{
    width: 400px;
    margin: 0;
    vertical-align: top;

}

#main-sign{
    width: 400px;
    margin: 0;
    vertical-align: top;
}

#HowMuch > h4 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 30px;
}

#Who > h6 {
    display: inline-block;
    margin: 10px;
    width: 100px;
    height: 20px;
}