{% extends 'piro/layout.html' %}
{% load static %}

{% block content %}
<div class="main__container">
    {% for post in list %}
        <br/>
        <div class="card post__container post-id-{{ post.id }}">
            <div class="card-body">
                <div class="post__img">
                    {% if post.image %}
                        <img src="{{post.image.url}}" style="max-width: 40%;">
                    {% endif %}
                    <br/>
                    <div class="card-title">
                        <a href="{% url "piro:post_detail" post.pk %}">{{post.title}}</a>
                    </div>
                    <div class="card-text">{{post.content}}</div>
                    <div class="btn btn-primary post__like" onclick="onClickLike({{post.id}}, 'like')">Like {{ post.like }}</div>
                    {% for comment in comments %}
                        {{comment.comment}}
                    {% endfor %}                      
                </div>
            </div>
        </div>
    {% endfor %}    
</div>
{% endblock %}

{% block extra %}
    <script>
        const requestLike = new XMLHttpRequest();
        const onClickLike = (id, type) => {
            const url = '/like_ajax/';
            requestLike.open('POST', url, true);
            requestLike.setRequestHeader( 
                'Content-Type', 
                'application/x-www-form-urlencoded'
            );
            requestLike.send(JSON.stringify({id: id, type:type}))
        };

        const likeHandleResponse = () => {
            if (requestLike.status < 400) {
                const {id, type} = JSON.parse(requestLike.response);
                const element = document.querySelector(`.post-id-${id} .post__${type}`)
                const originHTML = element.innerHTML;
                const [buttonType, num] = originHTML.split(' ');
                const count = Number(num) + 1;

                element.innerHTML = `${buttonType} ${count}`;
            }
        }

        requestLike.onreadystatechange = () => {
            if (requestLike.readyState === XMLHttpRequest.DONE) {
                likeHandleResponse();
            }
        }
    </script>
{% endblock %}